@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

/* this is for html body */
html,
body {
  background: #ffffff;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
}
/* this is for nav bar right button */
.nav_button {
  display: flex;
  padding: 10px 26px;
  align-items: center;
  border-radius: 8px;
  background: #3ba334;
  box-shadow: 0 8px 16px 0 rgba(57, 164, 50, 0.24);
}

/* this is for hero  */
.hero_heading {
  align-self: stretch;
  color: var(--07-Grey-800, #212b36);
  font-style: normal;
  font-weight: 700;
  line-height: 92px; /* 109.524% */
}
.hero_btn {
  display: flex;
  padding: 5px 14px;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  border: 1px solid var(--Primary-primary-200, #abdaa9);
  /* height: 49px; */
}
.hero_btn2 {
  display: flex;
  padding: 5px 14px;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  border: 1px solid var(--Primary-primary-200, #347c30);
  /* height: 49px; */
}

/* this is for service cards */
.service_card_heading {
  align-self: stretch;
  color: var(--07-Grey-800, #212b36);

  /* H6 */
  font-family: "Public Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}
.service_card_icon {
  display: flex;
  width: 43px;
  height: 43px;
  padding: 11px 7px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #ecfceb;
}
.service_card_desc {
  align-self: stretch;
  color: var(--07-Grey-600, #637381);
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

/* this is for build for everyone section */
.build_heading {
  color: var(--07-Grey-800, #212b36);
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);

  /* H2 */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
}

.build_desc {
  color: var(--07-Grey-600, #637381);
  text-align: center;
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.build_role {
  display: flex;
  font-size: 14px;
  padding: 3px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  color: #3ba334;
  border-radius: 60px;
  border: 1px solid #3ba334;
}
.build_role_heading {
  color: var(--Blue-Gray-900, #0f172a);
  font-family: "Public Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 26.4px */
}

.build_role_desc {
  color: var(--07-Grey-600, #637381);
  font-family: "Public Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}
.build_role_details1 {
  display: flex;
  padding: 4px 0 4px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-left: 3px solid #3ba334;
}
.build_role_details2 {
  display: flex;
  padding: 4px 0 4px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-left: 3px solid rgba(59, 163, 52, 0.7);
}
.build_role_details3 {
  display: flex;
  padding: 4px 0 4px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-left: 3px solid rgba(59, 163, 52, 0.4);
}

/* this is for user section */
.user_heading {
  color: var(--07-Grey-800, #212b36);
  text-align: center;

  /* H2 */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 133.333% */
}

.user_card_heading {
  color: var(--07-Grey-800, #212b36);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.user_card_role {
  color: var(--07-Grey-600, #637381);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.user_card_comment {
  color: var(--07-Grey-600, #637381);
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.16px;
}
.user_card {
  border-radius: 22px;
  background: #fff;
  box-shadow: 0 16px 32px -4px rgba(146, 171, 145, 0.1);
}

/* this is for user testimonial part */
.userTestimonial_content_heading {
  color: var(--07-Grey-800, #212b36);
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.userTestimonial_content_desc {
  color: var(--07-Grey-600, #637381);
  font-family: "Public Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.userTestimonial_content {
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--Primary-primary-100, #c7e6c5);
}
/* this is for user testimonial animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* this is for footer text part */
.footerText {
  color: #cfd8d6;
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

/* this is for role section  */
.role {
  height: 238px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--07-Grey-300, #dfe3e8);
  background: var(--07-Grey-100, #f9fafb);
}
.role_heading {
  color: var(--11-Text-Color-Light-01-Text-Primary, #212b36);
  text-align: center;

  /* H3 */
  font-family: "Public Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
}
.role_desc {
  color: var(--07-Grey-600, #637381);
  /* Subtitle1 */
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.user_roleCard {
  color: var(--07-Grey-600, #637381);
  text-align: center;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 127.273% */
}
.user_roleCard_desc {
  color: var(--07-Grey-500, #919eab);
  text-align: center;

  /* Body2 */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
}
.role_hover:hover {
  border-radius: 16px;
  border: 1px solid var(--Primary-primary-500, #49ae44);
  background: var(--Primary-primary-50, #edf7ec);
}

/* this is for form elements */
.formInput {
  color: #919eab;
  display: flex;
  height: 56px;
  padding: 16px 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--14-others-button-input, rgba(145, 158, 171, 0.32));
}
.formHeading {
  color: var(--11-Text-Color-Light-01-Text-Primary, #212b36);

  /* H4 */
  font-family: "Public Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
}
.formDesc {
  color: var(--11-Text-Color-Light-02-Text-Secondary, #637381);

  /* Body1 */
  font-family: "Public Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
/* this is for create account button */
.createAccountBtn {
  display: flex;
  height: 48px;
  padding: 11px 26px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: var(
    --Primary-primary-500,
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    #49ae44
  );
  box-shadow: 0 8px 16px 0 rgba(57, 164, 50, 0.24);
}
/* this is for continue with google button */
.googleBtnText {
  color: var(--07-Grey-600, #637381);

  /* 01 Button/01 Large */
  font-family: "Public Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 173.333% */
}
.googleBtn {
  border-radius: 8px;
  border: 1px solid var(--14-others-button-input, rgba(145, 158, 171, 0.32));
}

/* this is for otp */
.otpInput {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--14-others-button-input, rgba(145, 158, 171, 0.32));
}
.successMessage {
  color: var(--11-Text-Color-Light-01-Text-Primary, #212b36);

  /* H3 */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
}
